.menu-dropdown {
    display: flex;
    justify-content: center; /* Centrar el contenido del botón */
    align-items: center;     /* Alinear verticalmente el contenido */
    padding: .5rem 3rem;
    width: 100px;
    height: 1px;
    border: none;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;    
    background-color:#E4F7F5; /* Color del botón */
    color: rgb(0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 0 auto;
    position: relative; /* Asegura que el pseudo-elemento ::before se posicione correctamente */

    &:hover {
        background-color: #295F4E; /* Color al pasar el mouse */
    }
}

.nav-container-dropdown-off {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.nav-container-dropdown-on {
    max-height: 500px; /* Ajusta según el contenido */
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.nav-container{
    width: 100%;
    position: fixed;
    z-index: 10;

}

