.search__container {
    display: flex;
    // justify-content: center;
    // align-items: center;
    margin: 20px 0;
}

.search__input {
    width: 500px;
    // max-width: 400px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.search__input:focus {
    border-color: #0077ff; /* Cambia el color de borde al hacer focus */
}
