.inventario__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20%;
    height: 100vh; /* Mantiene la altura total del viewport */
    position: relative;
    animation: slideIn 0.5s ease-in-out;
    overflow: auto;
    align-items: center;
    position: relative;

    .inventario__header {
        width: 100%;
        display: flex;
        justify-content: center; /* Centra horizontalmente el título */
        color: whitesmoke;  
        text-align: center;
        margin-bottom: 20px; /* Espacio debajo del título */
    }

    .inventario__content {
        display: flex;
        width: 95%;
        display: flex;
        justify-content: center; /* Centra horizontalmente el contenido */
        color: whitesmoke;  
        text-align: center;
        // margin-bottom: 20px; /* Espacio debajo del contenido */
    }
}
