.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); // Fondo semi-transparente
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; // Asegura que haya espacio en pantallas pequeñas
  }
  
  .modal__content {
    width: 90%;
    // max-width: 500px;
    height: auto;
    background-color: rgb(173, 173, 173);
    border-radius: 8px;
    padding: 2rem;
    position: relative; // Necesario para que el botón de cierre esté dentro del contenedor
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Sombra para mejorar la visibilidad del modal
    margin: 0 auto;
  }
  
  .modal__close {
    position: absolute;
    top: 5px;
    right: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.2s ease-in-out;
    color: #000000;
  
    &:hover {
      color: #f00; // Cambia el color al pasar el mouse
    }
  }
      