.register_user__container {
    display: flex;
    flex-direction: column;
    align-items: center; // Centra horizontalmente
    // justify-content: center; // Centra verticalmente
    height: 100vh; // Altura completa de la ventana
    width: 100%; // Ancho completo
    background-color: transparent;
    animation: slideIn 0.5s ease-in-out;
    overflow: auto;
    position: relative;
    

    .register_user__haders {
        display: flex;
        flex-direction: column;
        align-items: center; // Alinea los elementos hijos
        justify-content: center; // Centra el contenido
        margin-bottom: 20px; // Espaciado ajustado
        

        h1 {
            font-size: 50px;
            color: #eeede8;
            margin-bottom: 20px;
            font-weight: bold;
            text-align: center;
        }

        span {
            font-size: 15px;
            color: #eeede8;
            text-align: center;
        }
    }

    .register_user__form {
        display: flex;
        flex-direction: column;
        align-items: center; // Centra el contenido del formulario
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        padding: 50px;
        border: 2px solid #eeede855;
        max-width: 400px; // Limita el ancho máximo
        width: 100%; // Ocupa todo el ancho permitido

        .register_user__button {
            width: 50%; // Ancho del botón
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #C96E5088;
            color: black;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: #C96E50;
                color: white;
                transform: scale(0.95);
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
            }
        }
    }

    .register_user__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px; // Espaciado ajustado
        width: 100%; // Se adapta al contenedor

        p {
            font-size: 15px;
            color: #eeede8;
            text-align: center;
        }

        a {
            font-size: 15px;
            color: #C96E50;
            text-decoration: none;
        }
    }
}

.error {
    color: red;
    border: 1px solid red; // Simplificado
    background-color: #ff000088;
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
